[Unit]
Description=Cherrypy Web Server
[Service]
Type=simple
WorkingDirectory=/home/pi/becuri/server/
ExecStart=/home/pi/becuri/server/server.py
KillSignal=SIGINT
[Install]
WantedBy=multi-user.target
