[Unit]
Description=Cherrypy Web Server
KillSignal=SIGINT
[Service]
Type=simple
WorkingDirectory=/home/pi/becuri/server/
ExecStart=/home/pi/becuri/server/server.py

[Install]
WantedBy=multi-user.target
